.aboutme {
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: calc(center - 100px);

  .info {
    display: flex;
    align-items: center;

    .detale_info {
      padding-left: 5%;

      .university {
        text-align: left;
      }
      .icons {
        display: flex;

        .icon {
          margin-right: 10px;
          width: 10%;
        }
      }
    }

    .face {
      width: 100%;
      .img_container {
        position: relative;
        top: 0px;
        width: 50%;
        height: 50%;
        margin: 0px 35%;
        img {
          animation: lean 2.5s ease-in-out;
          transform: rotate(20deg);
          object-fit: cover;
        }
      }
    }

    .col {
      flex: 2;
      margin-right: 30px;
    }
    .col:last-child {
      flex: 3;
      margin-right: 0;
    }
  }
}

@keyframes lean {
  0% {
    transform: rotate(0deg);
  }
  90% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(12deg);
  }
}