.minititle {
  width: 100%;

  .day {
    font-size: 10px;
    overflow-wrap: break-word;
    line-height: 10px;
  }

  .title {
    font-size: 30px;
    overflow-wrap: break-word;
    line-height: 30px;
  }

  p{
    padding: 0px; /* テキストと下線の間隔 */
    margin: 0px;
    font-size: 60px;
    background-image: linear-gradient(#000, #000);
    background-repeat: no-repeat;
    background-position: bottom right; /* 下線の初期位置 */
    background-size: 0 1px; /* 下線のサイズ（横幅、高さ） */
    transition: background-size 0.3s;
  }
}
