.minititle {
  width: 100%;

  .minititle_info{
    padding: 10px 10px;
  }

  .day {
    width: 100%;
    font-size: 10px;
    overflow-wrap: break-word;
    line-height: 10px;
  }

  .title {
    width: 100%;
    font-size: 23px;
    overflow-wrap: break-word;
    line-height: 30px;
  }

  p{
    padding: 0px; /* テキストと下線の間隔 */
    margin: 0px;
    background-image: linear-gradient(#000, #000);
    background-repeat: no-repeat;
    background-position: bottom right; /* 下線の初期位置 */
    background-size: 0 1px; /* 下線のサイズ（横幅、高さ） */
    transition: background-size 0.3s;

    white-space: nowrap;        /* 1行に収める */
    overflow: hidden;          /* はみ出した部分を非表示にする */
    text-overflow: ellipsis;   /* 末尾に「...」を付ける */
  }
}
