.title {
  font-size: 5vw;
  padding-left: 5%;
  padding-bottom: 50px;

  p {
    margin: 0px;
    text-align: left;
  }
  hr{
    margin: 0;
    width: 0%;
  }
  .show_hr{
    width: 95%;
    animation: extend 1s ease-in-out;
  }
}

@keyframes extend {
  0%{
    width: 0%;
  }100%{
    width: 95%%;
  }
}