.card {
  display: flex;
  text-align: left;
  justify-content: center;
  /* width: 400px; */

  .text {
    .low {
      /* margin-left: 3%; */
      padding-left: 20px;
    }
    p,
    h2,
    h3 {
      white-space: nowrap;
      margin: 0;
    }
  }
  .triangle {
    align-content: center;
    padding-left: 30px;
    svg:hover {
      stroke-dasharray: 4000;
      stroke-dashoffset: 4000;
      animation: dash 1s linear forwards;
    }
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}