.card {
  display: flex;
  text-align: left;
  width: 420px;

  .text {
    width: 400px;
    .low {
      padding-left: 20px;
    }
    p,
    h2,
    h3 {
      white-space: nowrap;
      margin: 0;
    }
  }
  .triangle {
    align-content: center;
    svg:hover {
      stroke-dasharray: 4000;
      stroke-dashoffset: 4000;
      animation: dash 1s linear forwards;
    }
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@media screen and (max-width: 500px) {
  .card {
    display: flex;
    text-align: left;
    width: 320px;
  
    .text {
      width: 300px;
      .low {
        padding-left: 20px;
      }
      p,
      h2,
      h3 {
        font-size: 15px;
        white-space: nowrap;
        margin: 0;
      }
    }
    .triangle {
      align-content: center;
      svg:hover {
        stroke-dasharray: 4000;
        stroke-dashoffset: 4000;
        animation: dash 1s linear forwards;
      }
    }
  }
}
