.card {
  width: 300px;
  padding: 10px;

  border: thick double #263545;
  box-shadow: 12px 12px 2px 1px rgba(87, 87, 87, 0.2);

  .text {
    text-align: start;
    h2,
    p {
      margin: 0;
    }
  }
  .logos {
    display: flex;
  }
  .github {
    display: flex;
    width: 100%;
    justify-content: end;
    align-items: center;

    a {
      display: flex;
    }
  }
}
